@model K21CNT2_NguyenHaiDang_2110900067_DATN.Models.ComicModel

@{
    ViewData["Title"] = Model.ComicName;
}

<div class="details-comic">
    <div class="breadcrumb">
        <a href="@Url.Action("Index", "Home")">Trang Chủ</a>
        <a href="@Url.Action("Details", "Home", new { id = Model.ComicId })">@Model.ComicName</a>
    </div>
    <div class="comic-info">
        <div class="comic-avatar">
            <img src="~/@Model.ComicImage" alt="@Model.ComicName" />
        </div>
        <div class="comic-other">
            <h1 class="comic-name">@Model.ComicName</h1>
            <div class="txt">
                <ul class="list-info">
                    <li class="author row">
                        <p class="name col-xs-3">
                            <span class="material-icons-sharp">
                                person
                            </span>
                            Tác Giả: @Model.ComicAuthor
                        </p>
                    </li>
                    <li class="status row">
                        <p class="name col-xs-3">
                            <span class="material-icons-sharp">
                                signal_cellular_alt
                            </span>
                            Tình Trạng: @Model.Status
                        </p>
                    </li>
                    <li class="row">
                        <p class="name col-xs-3">
                            <span class="material-icons-sharp">
                                thumb_up
                            </span>
                            Lượt Thích:
                        </p>
                    </li>
                    <li class="row">
                        <p class="name col-xs-3">
                            <span class="material-icons-sharp">
                                favorite
                            </span>
                            Theo Dõi: 
                        </p>
                    </li>
                    <li class="row">
                        <p class="name col-xs-3">
                            <span class="material-icons-sharp">
                                visibility
                            </span>
                            Lượt Xem: @Model.Views.ToString("0,#")
                        </p>
                    </li>
                </ul>
            </div>
            <ul class="genre-list">
                <li class="genre-info">
                    @foreach (var storyGenre in Model.ComicGenres)
                    {
                        <a href="@Url.Action("Details", "Genre", new { id = storyGenre.Genre.GenreId })" class="genre-badge">
                            @storyGenre.Genre.GenreName
                        </a>
                    }
                </li>
            </ul>
            <div class="comic-details-menu">
                <button class="btn btn-success">                      
                    Đọc Từ Đầu
                    <span class="material-icons-sharp">history_edu</span>
                </button>
                <button id="follow-btn" class="btn btn-danger">
                    Theo Dõi
                    <span class="material-icons-sharp">
                        favorite
                    </span>
                </button>
                <button id="like-btn" class="btn btn-like">
                    Thích
                    <span class="material-icons-sharp">
                        thumb_up
                    </span>
                </button>
                <button class="btn btn-primary">
                    Đọc Tiếp
                    <span class="material-icons-sharp">
                        double_arrow
                    </span>
                </button>
                
            </div>
        </div>
    </div>
    
    <div class="comic-description">
        <h2>
            <span class="material-icons-sharp">
                info
            </span>
            Giới Thiệu:
        </h2>
        <div class="comic-content">
            <p>@Model.ComicDescription</p>
        </div>  
    </div>

    <div class="chapter-info-list">
        <h2>
            <span class="material-icons-sharp">
                vertical_split
            </span>
           Danh sách chương:
        </h2>
        <div class="chapter-list">
            @foreach(var chapter in Model.Chapters)
            {
                <a href="@Url.Action("Index", "Chapter", new { id = chapter.ChapterId })" class="list-group-item">
                    <span class="chapter-number">Chương: @chapter.ChapterNumber</span>

                    <span class="chapter-time">@chapter.TimeAgo</span>
                </a>
            }
        </div>
    </div>
</div>