@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model K21CNT2_NguyenHaiDang_2110900067_DATN.Areas.Admin.ViewModels.ComicDetailsViewModel

@{
    int stt = 1;
}

<a href="@Url.Action("Index", "Profile", new { id = ViewData["UserId"] })" class="btn btn-secondary mt-2">@Localizer["Back"]</a>
<div class="table-container">
    <div class="header-table">
        <h1 class="max-text-title">@Localizer["Comic"]: @Model.Comic.ComicName</h1>
        <div class="search-bar">
            <form method="get">
                <input type="text" name="search" value="@Model.ChapterSearchTerm" placeholder="@Localizer["Search"] ...">
                <button type="submit" class="btn"><span class="material-icons-sharp">search</span></button>
            </form>
            <a asp-area="Admin" asp-controller="Chapter" asp-action="Create" asp-route-comicId="@Model.Comic.ComicId" class="btn btn-create">@Localizer["AddChapter"]</a>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>@Localizer["ID"]</th>
                <th>@Localizer["ChapterNumber"]</th>
                <td>@Localizer["Price"]</td>
                <td>@Localizer["Day"]</td>
                <th>@Localizer["Action"]</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Chapters)
            {
                <tr>
                    <td>@stt</td>
                    <td class="max-text">@item.ChapterNumber</td>
                    <td class="max-text">@item.Coin?.ToString("0,#")</td>
                    <td class="max-text">@item.CreatedAt?.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Chapter" asp-action="Details" asp-route-id="@item.ChapterId" class="btn btn-edit">@Localizer["View"]</a>
                        <a asp-area="Admin" asp-controller="Chapter" asp-action="Edit" asp-route-id="@item.ChapterId" class="btn btn-details">@Localizer["Edit"]</a>
                        <a asp-area="Admin" asp-controller="Chapter" asp-action="Delete" asp-route-id="@item.ChapterId" class="btn btn-delete">@Localizer["Delete"]</a>
                    </td>
                </tr>
                stt++;
            }
        </tbody>
    </table>  
</div>
<div class="d-flex justify-content-center mt-2">
    <nav aria-label="Page navigation">
        <ul class="pagination">

            @for (int i = Model.Pagination.StartPage; i <= Model.Pagination.EndPage; i++)
            {
                <li class="page-item @(i == Model.Pagination.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { search = Model.ChapterSearchTerm, page = i })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>