@model K21CNT2_NguyenHaiDang_2110900067_DATN.Areas.Admin.ViewModels.ComicViewModel

@{
    int stt = 1;
}

<div class="table-container">
    <div class="header-table">
        <h1>Quản lý Truyện</h1>
        <div class="search-bar">
            <form method="get">
                <input type="text" name="search" value="@Model.SearchTerm" placeholder="Tìm kiếm ...">
                <button type="submit" class="btn"><span class="material-icons-sharp">search</span></button>
            </form>
            <a asp-action="Create" class="btn btn-create">Thêm mới</a>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ảnh</th>
                <th>Tên Truyện</th>
                <td>Nhóm Dịch</td>
                <td>Quốc Gia</td>
                <td>Số Chương</td>
                <th>Hành Động</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Comics)
            {
                <tr>
                    <td>@stt</td>
                    <td style="height:80px; width:60px">
                        <img src="~/@Url.Content(item.ComicImage)" alt="Comic Image" class="img-fluid" style="height: 50px;width:50px" />
                    </td>
                    <td class="max-text">@item.ComicName</td>
                    <td class="max-text">@(item.TranslationTeam != null ? item.TranslationTeam.TeamName : "Không có")</td>
                    <td class="max-text">@(item.Nation != null ? item.Nation.NationName : "Không có")</td>
                    <td>@item.Chapters.Count</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ComicId" class="btn btn-edit">Sửa</a>
                        <a asp-action="Delete" asp-route-id="@item.ComicId" class="btn btn-delete">Xóa</a>
                    </td>
                </tr>
                stt++;
            }
        </tbody>
    </table>

</div>

<div class="d-flex justify-content-center mt-2">
    <nav aria-label="Page navigation">
        <ul class="pagination">

            @for (int i = Model.Pagination.StartPage; i <= Model.Pagination.EndPage; i++)
            {
                <li class="page-item @(i == Model.Pagination.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { search = Model.SearchTerm, page = i })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>


