@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model K21CNT2_NguyenHaiDang_2110900067_DATN.Models.ChapterModel

<div class="create-comic">
    <h2 class="title">@Localizer["DeleteChapter"]</h2>
    <p class="fs-5">
        @Localizer["Management"] @Model.ChapterNumber @Localizer["ComicName"] <strong class="text-danger">"@Model.Comic.ComicName"</strong> @Localizer["No"]
    </p
    <form asp-action="Delete" method="post" class="comic-form">
        <input type="hidden" asp-for="ChapterId" />       
        <div class="button-group">
            <button type="submit" class="btn-submit">@Localizer["Delete"]</button>
            <a href="@Url.Action("Details", "Profile", new { id = @Model.ComicId})" class="btn-cancel">@Localizer["Back"]</a>
        </div>
    </form>
</div>