@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model K21CNT2_NguyenHaiDang_2110900067_DATN.Models.ChapterModel

@using System.Text.Json

@{
    var images = ViewData["ChapterImages"] as List<K21CNT2_NguyenHaiDang_2110900067_DATN.Models.ChapterImageModel>;
}

<div class="table-container">
    <div class="header-table">
        <h1 class="max-text" style="max-width: 400px">@Localizer["ChapterNumber"]@Model.ChapterNumber, @Localizer["ComicName"]@Model.Comic.ComicName</h1>
        <div class="search-bar">          
            <a href="@Url.Action("Create", "ChapterImage", new { chapterId = Model.ChapterId })" class="btn btn-create p-2">@Localizer["AddChapter"]</a>
            <a href="@Url.Action("Details", "Profile", new { id = ViewData["ComicId"] })" class="btn btn-secondary">@Localizer["Back"]</a>
        </div>
    </div>
    @if (images != null && images.Count > 0)
    {
        <table>
            <thead>
                <tr>
                    <th class="text-center">@Localizer["ChapterImage"]</th>
                    <th class="text-center">@Localizer["Action"]</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in images)
                {
                    <tr>
                        <td class="text-center">
                            <div class="d-flex flex-wrap justify-content-start">
                                @foreach (var imageUrl in JsonSerializer.Deserialize<List<string>>(item.ImageUrls))
                                {
                                    <img src="@imageUrl" class="img-thumbnail m-1 tiny-chapter-image" />


                                }
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Edit", "ChapterImage", new { id = item.ImageId })" class="btn btn-warning btn-sm">
                               @Localizer["Edit"]
                            </a>
                            <form asp-action="Delete" asp-controller="ChapterImage" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xóa?');">
                                <input type="hidden" name="id" value="@item.ImageId" />
                                <button type="submit" class="btn btn-danger btn-sm">
                                   @Localizer["Delete"]
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

